@model IEnumerable<FoodShareApp.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table shadow p-3 mb-5 bg-white rounded">
    <caption>Events</caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodProviderAdminId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td data-title="Food Provider Id">
                    @Html.DisplayFor(modelItem => item.FoodProviderAdminId)
                </td>
                <td data-title="Event Name" >
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td data-title="Event Date" >
                    @Html.DisplayFor(modelItem => item.EventDate)
                </td>
                <td data-title="Event Time" >
                    @Html.DisplayFor(modelItem => item.EventTime)
                </td>
                <td data-title="Location">
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td data-title="Phone">
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td data-title="Email">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td data-title="Notes"  >
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td data-title="Tasks" >
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EventId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
                </td>
            </tr>
        }

</table>
