@model FoodShareApp.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Administrators Dashboard</h1>
<nav id="dashboardTabs" class="bg-dashTabs rounded-top mt-5">
    <ul class="navbar nav" id="tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link dashTab-link rounded" data-toggle="tab" href="#dashVerifiedSharers" role="tab" aria-controls="dashVerifiedSharers"
               aria-selected="true">Verified Sharers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link dashTab-link rounded" data-toggle="tab" href="#dashUnverifiedSharers" role="tab" aria-controls="dashUnverifiedSharers"
               aria-selected="false">Unverified Sharers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link dashTab-link rounded" data-toggle="tab" href="#dashFoods" role="tab" aria-controls="dashFoods"
               aria-selected="false">My Food</a>
        </li>
        <li class="nav-item">
            <a class="nav-link dashTab-link rounded" data-toggle="tab" href="#dashEvents" role="tab" aria-controls="dashEvents"
               aria-selected="false">Events</a>
        </li>
        <li class="nav-item">
            @*<a class="nav-link dashTab-link rounded" data-toggle="tab" href="#notifications" role="tab" aria-controls="notifications"
        aria-selected="false">Notifications</a>*@
            <a href="/Dashboard/Notifications" class="nav-link dashTab-link rounded">Notifications</a>
        </li>
    </ul>
</nav>
<div class="tab-content" id="myTabContent">
    <section class="tab-pane fade show active" id="dashVerifiedSharers" role="tabpanel" aria-labelledby="home-tab">
        <div class="card card-custom mb-5">
            <div class="card-body">
                <h2 class="card-title">Verified Sharers</h2>
                <table class="table p-3 mb-5 bg-white rounded" cellspacing="0" width="100">
                    <caption>Verified Sharers</caption>
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Logo
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Phone #
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Website
                            </th>
                            <th>
                                Admin
                            </th>
                            <th>
                                Task
                            </th>
                        </tr>
                    </thead>
                    @foreach (var foodProvider in Model.foodProvider)
                    {
                        if (foodProvider.Verified)
                        {
                            <tr>
                                <td data-title="Name">
                                    @foodProvider.Name
                                </td>
                                <td data-title="Image">
                                    <img src="@foodProvider.LogoUrl" width="100" alt="" />
                                </td>
                                <td data-title="Address">
                                    @foodProvider.Street @foodProvider.City, @foodProvider.Province, @foodProvider.PostalCode
                                </td>
                                <td data-title="Phone">
                                    @foodProvider.PhoneNumber
                                </td>
                                <td data-title="Email">
                                    @foodProvider.Email
                                </td>
                                <td data-title="Type">
                                    @foodProvider.ProviderType.ProviderType1
                                </td>
                                <td data-title="Website">
                                    <a href="@foodProvider.Website">@foodProvider.Website</a>
                                </td>
                                <td data-title="Admin">
                                 @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        if(foodProvider.Admin)
                                        {
                                            <span>Yes</span>
                                        }
                                        else
                                        {
                                            <button name="UserId" type='submit' value="@foodProvider.FoodProviderId">Make Admin</button>
                                        }
                                    }
                                </td>
                                <td data-title="Task">
                                    <div class="d-inline-flex">
                                        @Html.ActionLink("Edit", "Edit", "FoodProviders", new { id = foodProvider.FoodProviderId }, null) |
                                        @Html.ActionLink("Delete", "Delete", "FoodProviders", new { id = foodProvider.FoodProviderId }, null)
                                    </div>
                                </td>
                            </tr>
                        } // end if
                    }
                </table>
            </div>
        </div>
    </section>
    <section class="tab-pane fade" id="dashUnverifiedSharers" role="tabpanel" aria-labelledby="profile-tab">
        <div class="card card-custom mb-5">
            <div class="card-body">
                <h2 class="card-title">Unverified Sharers</h2>
                <table class="table p-3 mb-5 bg-white rounded" cellspacing="0" width="100">
                    <caption>Unverified Sharers</caption>
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Logo
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Phone #
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Website
                            </th>
                            <th>
                                Task
                            </th>
                        </tr>
                    </thead>
                    @foreach (var foodProvider in Model.foodProvider)
                    {
                        if (!foodProvider.Verified)
                        {
                            <tr>
                                <td data-title="Name">
                                    @foodProvider.Name
                                </td>
                                <td data-title="Image">
                                    <img src="@foodProvider.LogoUrl" width="100" alt="" />
                                </td>
                                <td data-title="Address">
                                    @foodProvider.Street @foodProvider.City, @foodProvider.Province, @foodProvider.PostalCode
                                </td>
                                <td data-title="Phone">
                                    @foodProvider.PhoneNumber
                                </td>
                                <td data-title="Email">
                                    @foodProvider.Email
                                </td>
                                <td data-title="Type">
                                    @foodProvider.ProviderType.ProviderType1
                                </td>
                                <td data-title="Website">
                                    <a href="@foodProvider.Website">@foodProvider.Website</a>
                                </td>
                                <td data-title="Task">
                                    <div class="d-inline-flex">
                                        @Html.ActionLink("Edit", "Edit", "FoodProviders", new { id = foodProvider.FoodProviderId }, null) |
                                        @Html.ActionLink("Delete", "Delete", "FoodProviders", new { id = foodProvider.FoodProviderId }, null)
                                    </div>
                                </td>
                            </tr>
                        } // end if
                    }
                </table>
            </div>
        </div>
    </section>
    <section class="tab-pane fade" id="dashFoods" role="tabpanel" aria-labelledby="contact-tab">
        <div class="card card-custom mb-5">
            <div class="card-body">
                <h2 class="card-title">Foods</h2>
                <p>
                    @Html.ActionLink("Create Food Source", "CreateFood")
                </p>
                <table class="table p-3 mb-5 bg-white rounded">
                    <caption>Foods</caption>
                    <thead>
                        <tr>
                            <th>
                                Type
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Urgent
                            </th>
                            <th>
                                Notes
                            </th>
                            <th>
                                Date Posted
                            </th>
                        </tr>
                    </thead>
                    @foreach (var food in Model.food)
                    {
                        <tr>
                            <td data-title="Type">
                                @food.FoodType.FoodType1
                            </td>
                            <td data-title="Food Name">
                                @food.FoodName
                            </td>
                            <td data-title="Amount Id">
                                @food.FoodAmountId
                            </td>
                            <td data-title="Urgent">
                                @food.Urgent
                            </td>
                            <td data-title="Notes">
                                @food.Notes
                            </td>
                            <td data-title="Date Created">
                                @food.DateCreated
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </section>
    <section class="tab-pane fade" id="dashEvents" role="tabpanel" aria-labelledby="contact-tab">
        <div class="card card-custom mb-5">
            <div class="card-body">
                <h2 class="card-title">Events</h2>
                <p>
                    @Html.ActionLink("Create Event", "CreateEvent")
                </p>
                <table class="table p-3 mb-5 bg-white rounded">
                    <caption>Events</caption>
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Time
                            </th>
                            <th>
                                Location
                            </th>
                            <th>
                                Contact
                            </th>
                            <th>
                                Notes
                            </th>
                            <th>
                                Tasks
                            </th>
                        </tr>
                    </thead>
                    @if (Model.events != null)
                    {
                        foreach (var _event in Model.events)
                        {
                            <tr>
                                <td data-title="Name">
                                    @_event.EventName
                                </td>
                                <td data-title="Date">
                                    @_event.EventDate
                                </td>
                                <td data-title="Time">
                                    @_event.EventTime
                                </td>
                                <td data-title="Location">
                                    @_event.Location
                                </td>
                                <td data-title="Contact">
                                    @_event.Phone | @_event.Email
                                </td>
                                <td data-title="Notes">
                                    @_event.Notes
                                </td>
                                <td data-title="Tasks">
                                    @ViewBag.userId
                                    @_event.FoodProviderAdminId
                                    @if ((string)ViewBag.userId == _event.FoodProviderAdminId)
                                    {
                                        Html.ActionLink("Edit", "EditEvent", new { id = _event.EventId });
                                    }
                                    else
                                    {
                                        <p>@_event.EventName;</p>
                                    }
                                    @*@Html.ActionLink("Details", "Details", new { id = item.EventId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.EventId })*@
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </section>
</div>