<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Food Share Map</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/css/mdb.min.css" rel="stylesheet">
    <!-- Custom Styles -->
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <!-- Mapbox CDN -->
    <script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet' />
    <!-- Other head elements -->
    @Html.Partial("_Favicons")
</head>
<body class="pb-0">
    <header>
        <!--Navbar-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="/Home">
                <img src="~/Content/Images/logo.svg" alt="The Food Share Map Logo" height="50" class="align-items-center" />
            </a>
            <ul class="navbar-nav">
                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                {
                    <li class="@(ViewBag.Title=="Dashboard" ? "currentPage" : "") nav-item">
                        <a class="nav-link" href="/Dashboard"><i class="fas fa-cog" aria-hidden="true"></i>Dashboard</a>
                    </li>
                }

            </ul>
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerNav"
                    aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="headerNav">
                <!-- Links -->
                <ul class="navbar-nav ml-auto">
                    <li class="@(ViewBag.Title=="Food Map" ? "currentPage" : "") nav-item">
                        <a class="nav-link" href="/Map"><i class="fas fa-map-marker" aria-hidden="true"></i>The Map</a>
                    </li>
                    <li class="@(ViewBag.Title=="Food Sources" ? "currentPage" : "") nav-item">
                        <a class="nav-link" href="/FoodProviders"><i class="fas fa-utensils" aria-hidden="true"></i>Food Sources</a>
                    </li>
                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Sharer"))
                    {
                        <li class="@(ViewBag.Title=="Share Food" ? "currentPage" : "") nav-item">
                            <a class="nav-link" href="/Foods/Create"><i class="fas fa-share" aria-hidden="true"></i>Share Food</a>
                        </li>
                    }
                    <li class="@(ViewBag.Title=="About Us" ? "currentPage" : "") nav-item">
                        <a class="nav-link" href="/Home/About"><i class="fas fa-info-circle" aria-hidden="true"></i>About Us</a>
                    </li>
                    <li class="nav-item my-auto pb-1 divider"><span>|</span></li>
                    @Html.Partial("_LoginPartial")
                </ul>
                <!-- Links -->
            </div>
            <!-- Collapsible content -->
        </nav>
        <!--/.Navbar-->
    </header>

    <main class="@(ViewBag.Title=="Dashboard" ? "mx-0 w-100" : "container")">
        @RenderBody()
    </main>
    <footer>
        <!--Navbar-->
        <nav class="navbar navbar-expand-sm navbar-light white mb-0">
            <!-- Links -->
            <p class="nav-item my-auto">&copy; Center for Changemaking and Social Innovation</p>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Legal">Legal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Terms">Terms of Use</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Contact">Contact</a>
                </li>
            </ul>
            <!-- Links -->
        </nav>
        <!--/.Navbar-->
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/js/mdb.min.js"></script>
    <!-- Custom JS -->
    <script src="~/Scripts/Script.js"></script>
</body>
</html>
