<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Food Share Map</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="~/Content/Styles.css" rel="stylesheet" />
</head>
<body>
    <header class="mdc-top-app-bar mdc-elevation--z4">
        <nav class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <a class="mdc-top-app-bar__title" href="/">
                    <img id="logo" src="~/Content/Images/logo-alt-colour-2.png" alt="The Food Share Map Logo" />
                </a>
            </section>
            <ul class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                <li>
                    <a class="mdc-button mdc-tab" href="FoodMap" aria-selected="false" tabindex="-1">
                        <span class="mdc-tab__content">
                            <span class="mdc-tab__text-label">Food Map</span>
                            <span class="mdc-tab-indicator"></span>
                            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                    </a>
                </li>
                <li>
                    <a class="mdc-button mdc-tab" href="FoodProviders" aria-selected="false" tabindex="-1">
                        <span class="mdc-tab__content">
                            <span class="mdc-tab__text-label">Food Sharers</span>
                            <span class="mdc-tab-indicator"></span>
                            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                    </a>
                </li>
                <li>
                    <a class="mdc-button mdc-tab" href="shareFood" aria-selected="false" tabindex="-1">
                        <span class="mdc-tab__content">
                            <span class="mdc-tab__text-label">Share Food</span>
                            <span class="mdc-tab-indicator"></span>
                            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                    </a>
                </li>
                <li>
                    <a class="mdc-button mdc-tab" href="/" aria-selected="false" tabindex="-1">
                        <span class="mdc-tab__content">
                            <span class="mdc-tab__text-label">About Us</span>
                            <span class="mdc-tab-indicator"></span>
                            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                    </a>

                </li>
                <li class="divide">|</li>
                <li>
                    <a class="mdc-button mdc-tab" href="/account/register" aria-selected="false" tabindex="-1">
                        <span class="mdc-tab__content">
                            <span class="mdc-tab__text-label">Register</span>
                            <span class="mdc-tab-indicator"></span>
                            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                    </a>
                </li>
                <li>
                    <a class="mdc-button mdc-tab" href="/account/logIn" aria-selected="false" tabindex="-1">
                        <span class="mdc-tab__content">
                            <span class="mdc-tab__text-label">Log In</span>
                            <span class="mdc-tab-indicator"></span>
                            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                    </a>
                </li>

            </ul>
@*            @Html.Partial("_LoginPartial")*@
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer class="mdc-top-app-bar mdc-elevation--z4">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <p class="copyright">&copy; Center for Changemaking and Social Innovation</p>
            </section>
            <ul class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                <li>
                    <a class="mdc-button mdc-tab" href="about" aria-selected="false" tabindex="-1">
                        <span class="mdc-tab__content">
                            <span class="mdc-tab__text-label">Legal</span>
                            <span class="mdc-tab-indicator"></span>
                            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                    </a>
                </li>
                <li>
                    <a class="mdc-button mdc-tab" href="portfolio" aria-selected="false" tabindex="-1">
                        <span class="mdc-tab__content">
                            <span class="mdc-tab__text-label">Terms of Use</span>
                            <span class="mdc-tab-indicator"></span>
                            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                    </a>
                </li>
                <li>
                    <a class="mdc-button mdc-tab" href="contact" aria-selected="false" tabindex="-1">
                        <span class="mdc-tab__content">
                            <span class="mdc-tab__text-label">Contact</span>
                            <span class="mdc-tab-indicator"></span>
                            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                    </a>
                </li>
            </ul>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="~/Scripts/Script.js"></script>
</body>
</html>
